.blueSection {
  padding: 50px 0;
  background: $blue;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &:after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: $red;
    position: absolute;
    bottom: -15px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  .title {
    @include fontRegular;
    font-size: $textHuge;
    color: $white;
  }
  .subtitle {
    @include fontLight;
    font-size: $textMedium;
    color: rgba($white, 0.6);
    padding: 20px;
  }
}

