.card {
  background: $white;
  height: 230px !important;
  box-sizing: border-box;
  margin: 10px;
  display: flex !important;
  flex-direction: column;
  flex: 1;
  align-items: center;
  text-align: center;
  padding: 40px 30px;
  overflow: hidden;
  text-transform: capitalize;
  @include fontRegular;
  .title {
    font-size: $textMedium;
    line-height: 28px;
    color: $darkGrey;
    margin: 0;
  }
  .paragraph {
    font-size: $textSmall;
    color: $grey;
    line-height: 25px;
    margin: 10px 0;
    width:100%;
  }
  img {
  }
}
